venv/
__pycache__/
book_covers/
file.html
assets/
models/
static/images/covers/*.py
BookAPI.py
book.json
bookCoverUpdater.py
dependencies.py
file.html
static/node_modules/
static/package-lock.json
static/package.json
