<!-- bot area -->
<div id="chat-bot">
    <div id="icon">
        <img src="/static/images/icon.png" alt="" srcset="">
    </div>
    <div id="chat-area">
        <div id="close-chat-area">
            X
        </div>
        <div id="chat-heading">
            <div id="chat-avatar">
                <img src="/static/images/icon.png" alt="" srcset="">
            </div>
            <div id="chat-bot-name">
                <div>Book Bot</div>
                <div id="status" class="status-active">Active</div>
            </div>
        </div>
        <div id="chat-conversation">
            <div class="message-from-bot">
                <div class="avatar">
                    <img src="/static/images/icon.png" alt="" srcset="">
                </div>
                <div class="message">
                    Hello there, What can I help for you?<br>
                    <b>Frequent questions.. </b><br>
                    <ul>
                        <li>Is it able to buy with COD (Cash On Delivery)?</li>
                        <li>How long does it take to deliver?</li>
                    </ul>
                </div>
            </div>

            <div class="message-from-client">
                <div class="client-icon">
                    <img src="/static/images/client_icon.png" alt="" srcset="">
                </div>
                <div class="message">Who are u?Lore</div>
            </div>
        </div>
        <div id="chat-input">
            <input type="text" name="" id="chat-input-box" placeholder="What can I help you, today?">
            <button type="button" id="send-btn">
                <img src="/static/images/paper-plane.png" alt="" srcset="">
            </button>
        </div>
    </div>
</div>
<!-- bot area end -->
<script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script>
    const socket = io("/bot");
    const input = document.getElementById("chat-input-box");
    const btn = document.getElementById("send-btn");
    const conversation = document.getElementById("chat-conversation");
    const status = document.getElementById("status");

    btn.addEventListener("click", () => {
        if (input.value.trim() !== "") {
            sendMessage(input.value);
            input.value = "";
        }
    });

    input.addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            btn.click();
        }
    });

    socket.on("connect", () => {
        if (socket.id.length > 0) {
            status.classList.remove("status-offline");
            status.classList.add("status-active");
            status.innerText = "Active";
        }
    });

    socket.on("disconnect", () => {
        status.classList.add("status-offline");
        status.classList.remove("status-active");
        status.innerText = "Offline";
    })

    socket.on("message", (data) => {
        if (data.is_typing) {
            addTyping();
        } else {
            removeTyping();
            addBotMessage(data.response);
        }
    });

    function sendMessage(text) {
        socket.send({
            message: text
        });
        addClientMessage(text);
    }

    function addClientMessage(text) {
        const div = document.createElement("div");
        div.className = "message-from-client";
        div.innerHTML = `<div class="client-icon">
                    <img src="/static/images/client_icon.png" alt="" srcset="">
                </div>
                <div class="message">${text}</div>`;
        conversation.appendChild(div);
        conversation.scrollTo({
            top: conversation.scrollHeight,
            behavior: "smooth"
        });
    }

    function addTyping() {
        const div = document.createElement("div");
        div.id = "typing";
        div.className = "message-from-bot typing";
        div.innerHTML = `
                <div class="avatar">
                    <img src="/static/images/icon.png" alt="" srcset="">
                </div>
                <div class="message">
                    Typing...
                </div>`;
        conversation.appendChild(div);
        conversation.scrollTo({
            top: conversation.scrollHeight,
            behavior: "smooth"
        });
    }

    function removeTyping() {
        document.getElementById("typing").remove();
    }

    function addBotMessage(text, isTyping) {
        const div = document.createElement("div");
        div.className = "message-from-bot";
        div.innerHTML = `
                <div class="avatar">
                    <img src="/static/images/icon.png" alt="" srcset="">
                </div>
                <div class="message">
                    ${text}
                </div>`;
        conversation.appendChild(div);
        conversation.scrollTo({
            top: conversation.scrollHeight,
            behavior: "smooth"
        });
    }

</script>