{% extends 'base.html' %}
{% block content %}
<div id="books">
    {% for book in template_data.books %}
    <div class="book" id="book-{{ book.id }}">
        <div class="cover">
            <img src="{{ url_for('static', filename='images/covers/' + book.cover ) }}" alt="" srcset="">
        </div>
        <a class="title" href="{{ url_for('view', id = book.id) }}">{{ book.title }}</a>
        <div class="authors">
            {% for author in book.authors %}
            <div class="author">{{ author.name }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}